.game-list-header {
    display:inline-block;
    border: 2px solid black;
    padding: 5px;
}

.game-list {
    display:inline-block;
    border: 2px solid black;
    padding-right: 40px;
    margin: 10px;
}

#input-add-btn {
    display: block;
}
